<div style="font-family: Arial, sans-serif; line-height: 1.6;">
  <p>您好,</p>
  <p>感谢您注册我们的服务。请使用以下验证码完成邮箱验证：</p>
  <p style="font-size: 24px; font-weight: bold;">{{code}}</p>
  <p>此验证码将在15分钟内有效。</p>
  <p>如果这不是您本人操作，请忽略这封邮件。</p>
  <p>祝好,</p>
  <p>不摸鱼的管理团队</p>
</div>